@import "tailwindcss";


body {
  font-family: 'Inter', sans-serif;
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth;
}


.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  display: flex;
}

.transition-line {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: transform 0.4s ease-in-out;
}

.line-1 {
  background: #292f43;
  transition-delay: 0s;
}

.line-2 {
  background: #7b2ea8;
  transition-delay: 0.1s;
}

.line-3 {
  background: #292f43;
  transition-delay: 0.2s;
}

.line-4 {
  background: #7b2ea8;
  transition-delay: 0.3s;
}

.transition-overlay.active .transition-line {
  transform: translateY(0);
}

.transition-overlay.exiting .transition-line {
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}




/* Custom Scrollbar Styles */
.custom-scrollbar {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #B70AC1 transparent;
  /* Thumb color and track color */
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  /* Smaller scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  /* Hidden/transparent track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #B70AC1;
  /* Scrollbar thumb color */
  border-radius: 10px;
  /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a109a6;
  /* Slightly darker shade on hover */
}